#
# Save Date:Mon Sep 16 10:07:52 2013
#
# toSpread startup file.
# Comments MUST be at the start of a line.
# Any comments added will be lost.
#
^set GET_FORMAT $K
^set STDERR /dev/tty
^set STDOUT /dev/tty
^set USER source
^set ADD_CR true
^set SET_FORMAT $K $V
^set CLIENT raw
^set DEFAULT_GROUP global
^set DEBUG false
^set SAVE_ALLOWED true
^set SPREAD_SERVER 4803
^set INTERACTIVE false
^set TO_FORTH false
^set GROUP POWER
^set AUTOCONNECT true
^set EXIT_ALLOWED true
^set MODE remote
